.Spinner-Style {
  opacity: 1;
  transform-style: preserve-3d;
  will-change: transform;
  width: 300px;
  height: 300px;
}

.Spinner-Container {
  background-color: black;
  display: flex;
  justify-content: center;
}
