.Viewer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Viewer-Main {
  border: 0;
  overflow: auto;
  width: 100%;
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.Viewer-Input {
  background-color: #d6d6da;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.Viewer-Input > * {
  margin: 5px;
}

.Viewer-Input > input {
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

.Json-Attribute-Name {
  font-weight: bold;
  color: green;
  min-width: 130px;
  max-width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  background-color: white;
}

.Json-Attribute-Value-Color {
  background-color: #cdefd2;
}

.Json-Attribute-Value {
  font-weight: bold;
  color: green;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  padding: 5px;
  flex-grow: 1;
  background-color: #cdefd2;
  border-left: 1px solid black;
  word-break: break-all;
}

.Json-Array,
.Json-Object {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.Json-Root,
.Json-Attribute {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: 1px solid black;
  margin: 5px;
  margin-bottom: 0;
  background-color: white;
}

.Json-Attribute-Name > div {
  align-items: start;
}

.Json-Attribute-Name button {
  font-size: 10px;
  padding: 0px 5px;
  line-height: 1rem;
  color: black;
}

.Json-Root,
.Json-Attribute:last-of-type {
  margin-bottom: 5px;
}

.Json-Object-Color {
  background-color: #bfd1fb;
}

.Json-Object {
  flex-grow: 1;
  background-color: #bfd1fb;
  border-left: 1px solid black;
}

.Json-Array > .Json-Object {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
}

.Json-Array-Color {
  background-color: #faebd7;
}

.Json-Array {
  padding: 5px;
  background-color: #faebd7;
  border-left: 1px solid black;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px;
}

.Json-Array > .Json-Attribute-Value {
  margin: 5px;
  margin-bottom: 0;
  border: 1px solid black;
  min-height: 28px;
}

.Json-Array > .Json-Attribute-Value:last-of-type {
  margin-bottom: 5px;
}

.Json-Attribute-Value-Content {
  max-width: 150px;
}

.Key-Container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Key-Container > div {
  padding: 5px;
  margin: 5px;
}

.JSONViewerBoundary {
  margin: 10px;
}
