.Viewer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Viewer-Main {
  border: 0;
  overflow: auto;
  width: 100%;
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.Viewer-Input {
  background-color: #d6d6da;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
}

.Viewer-Input > input {
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

.Json-Root {
  font-size: 12px;
}

.Json-Root,
.Json-Attribute {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: white;
}

.Json-Attribute-Name {
  font-weight: bold;
  color: green;
  min-width: 130px;
  max-width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  background-color: white;
}

.Json-Array-Value-Color,
.Json-Attribute-Value-Color {
  background-color: #cdefd2;
  background-color: #d2f8d9;
}

.Json-Array-Value,
.Json-Attribute-Value {
  font-weight: bold;
  color: green;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 0;
  word-break: break-all;
}

.Json-Attribute-Name > div {
  align-items: start;
}

.Json-Attribute-Name button {
  font-size: 10px;
  padding: 0px 5px;
  line-height: 1rem;
  color: black;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.Json-Array,
.Json-Object {
  display: flex;
  text-align: left;
  gap: 8px;
  padding: 8px;
  flex-grow: 1;
  flex-direction: column;
}

.Json-Object-Color {
  background-color: #bfd1fb;
}

.Json-Array-Color {
  background-color: #ffd7b4;
}

.Json-Array {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
  border-top: 2px solid #ffd7b4;
  border-bottom: 2px solid #ffd7b4;
}

.Key-Container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.Key-Container > div {
  padding: 5px;
}

.JSONViewerBoundary {
  margin: 10px;
}
