.Chart-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.Chart-Section button {
  margin: 5px;
}

.Chart-Section > svg {
  max-width: 90vh;
  max-height: 90vh;
}