.NavList {
  display: flex;
  flex-direction: row;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 5px;
  border-bottom: 1px solid #2b2b2b;
  border-top: 1px solid #2b2b2b;
  background-color: #d6d6da;
  overflow: scroll;
}

.NavLink {
  border: 1px solid #2b2b2b;
  background-color: #fff;
  color: #2b2b2b;
  display: block;
  padding: 0;
  margin: 5px;
  cursor: pointer;
}

.NavLinkCurrent {
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  color: #fff;
  display: block;
  padding: 0;
  margin: 5px;
  cursor: default;
}

.NavLink a {
  color: #2b2b2b;
  text-decoration: none;
  display: block;
  padding: 5px;
  text-wrap: nowrap;
}

.NavLinkCurrent a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.NavLink:hover {
  background-color: #6b6b6b;
}

.NavLink:hover a {
  color: #fff;
}
